/*==== Styling for the Body ====*/
body {
    padding-top: 50px; 
}

/*==== Styling for the Table ====*/
tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
td {
    font-size: 13px;
}
tbody {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
    display: block;
}

/*==== Styling for Bootstrap ====*/
.container {
    width: 1200px;
}